/* RESET */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* GENERAL STYLES */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  font-weight: bold;
}

section {
  background-image: url(/img/table.jpg);
  background-size: cover;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 600px;
}

h1 {
  color: goldenrod;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#message-el {
  font-style: italic;
}

button {
  background: goldenrod;
  border-radius: 0.2rem;
  border: none;
  color: #016f32;
  margin: 1rem auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 150px;
  display: block;
}
button:active {
  opacity: 0.5;
}
